@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700&family=Righteous&display=swap');

.App {
    width:100vw;
    background-color: #FB6B6B;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App-header {
    position: fixed;
    top:0;
    z-index: 2;
    background-color: #FB6B6B;
    width: 100vw;

    font-family: 'Righteous';
    color: #FFFFFF;
    font-size: 36px;
    display: flex;
    align-items: center;   
    justify-content: center;
}

.App-header img {
    margin-right: 5px;
    width: 52px;
    height: 60px;
}

.home-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-page img{
    width: 136px;
    height: 161px;
}
.home-page h1 {
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 36px;
    color: #FFFFFF;
}
.home-page button{
    width: 246px;
    height: 54px;
    font-family: 'Recursive';
    font-size: 18px;
    color: #D70900;

    background: #FFFFFF;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.card-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.game-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.deck {
    margin-top:150px;
    margin-bottom: 75px;
    z-index: 0;
    overflow-y: scroll;
}

.hidden {
    display: none;
}

.selected {
    background-color: #FFFFD4;
    width: 299px;
    height: 131px;
    margin-bottom: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    
    font-family: 'Recursive';
    font-size: 16px;
    font-weight: 400;   
    position: relative; 
}
.selected img{
    position: absolute;
    bottom:5%;
    right: 5%;
}

.question-option {
    font-family: 'Recursive';
    font-size: 20px;
    font-weight: 700;

    width: 300px;
    height: 65px;  
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.question-option img{
    width: 20px;
    height: 20px;
}

.answer-options {
    margin-top: 10%; /*NOT WORKIGN WELL*/
    display: flex;
    justify-content: space-evenly;
}

.answer-box {
    width: 85.17px;
    height: 37.17px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.dont-remember{
    background-color: #FF3030;
}

.almost-remember {
    background-color: #FF922E;
}

.zap {
    background-color: #2FBE34;
}

.dont-result {
    color: #FF3030;
    text-decoration-line: line-through;
}
.almost-result{
    color: #FF922E;
    text-decoration-line: line-through;
}
.zap-result {
    color: #2FBE34;
    text-decoration-line: line-through;
}


footer {
    position: fixed;
    bottom: 0%;
    width:100vw;
    box-sizing: border-box;
    padding: 5%;
    font-family: 'Recursive';
    font-weight: 400;
    font-size: 18px;

    background-color: #FFFFFF;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align:center;
}

.footer-icons {
    display: flex;
}
.footer-icons img{
    width: 23px;
    height: 23px;
}

footer .feedbackMsg {
    display: flex;
    align-items: center;
}
footer .feedbackMsg img {
    margin-right: 5px;
    width: 23px;
    height: 23px;
}

footer button {
    width: 167px;
    height: 32px;
    margin-top: 10px;
    background: #FB6B6B;
    border:none;
    border-radius: 5px;

    color:#FFFFFF;
    font-family: 'Recursive';
}